.container {
    position: relative;
    width: 100%;
  }
  
  .custom-map {
    /* Your custom styles here */
  }
  
  .click-coordinates-container {
    padding: 10px;
    text-align: center;
  }
  
  .click-coordinates-container small {
    margin: 0 15px;
  }